.head-search{
  line-height: 57px;
  padding-top: 20px;
  box-shadow: 0px 0px 20px #DDD;
}

.head-search .head-search-row{
  width: 1190px;
  height: 135px;
  margin: 0 auto;
}

.head-search .head-search-row .logo{
  width: 126px;
}

.search-in .el-input__inner{
  border-radius: 4px 0 0 4px;
  border-color: #31BBAC;
}

.search-in .el-input__inner:focus{
  border-color: #31BBAC;
}

.search-btn.el-button{
  border: 1px solid #31BBAC;
  height: 40px;
  border-radius: 0 4px 4px 0;
  margin-left: -1px;
  color: #fff;
  background-color: #31BBAC;
}

.search-btn.el-button:focus, .search-btn.el-button:hover{
  color: #fff;
  background-color: #53DDCE;
  border-color: #31BBAC;
}

.head-search .head-search-row .search-sug{
  position: absolute;
  z-index: 99;
  width: 692px;
  background-color: #FFF;
  line-height: 30px;
  border: 1px solid #31BBAC;
  margin-top: -9px;
  box-shadow: 3px 3px 12px #AAA;
}

.head-search .head-search-row .search-sug a{
  display: block;
  font-size: 14px;
  color: #333;
  padding-left: 15px;
}

.head-search .head-search-row .search-sug a:hover{
  background-color: #53DDCE;
  color: #FFF;
}
/* 搜索框下方搜索建议 */
.head-search .head-search-row .search-suggest dl{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  overflow: auto;
}

.head-search .head-search-row .search-suggest dl dd{
  font-size: 15px;
  font-weight: 600;
  margin-right: 30px;
  float: left;
}

.head-search .head-search-row .search-suggest dl dd a{
  color: #555;
}

.head-search .head-search-row .search-suggest dl dd:nth-child(1) a:hover{
  color: #fbc700;
}
.head-search .head-search-row .search-suggest dl dd:nth-child(2) a:hover{
  color: #ed1e24;
}
.head-search .head-search-row .search-suggest dl dd:nth-child(3) a:hover{
  color: #31BBAC;
}
.head-search .head-search-row .search-suggest dl dd:nth-child(4) a:hover{
  color: #FDC411;
}
.head-search .head-search-row .search-suggest dl dd:nth-child(5) a:hover{
  color: #f04d4e;
}

/* 搜索框下方建议商家动画 */
.fades-enter-active {
  transition: all .5s;
}
.fades-leave-active {
  transition: all .5s;
}
.fades-enter, .fades-leave-active {
  opacity: 0;
}
