html, body{
  margin: 0;
  padding: 0;
  height: 101vh;

  /* transform透视 */
  /* perspective: 8000px; */
  /* transform-style: preserve-3d; */
}

dl, dd{
  margin:0;
}

a{
  text-decoration:none;
  color: #333;
}

a:hover{
  color: #31BBAC;
}

.active, .main-color{
  color: #31BBAC;
}

/* 全局路由动画 */
.page-enter-active, .page-leave-active {
  transition:all 0.4s linear;
}
.page-leave-active{
  transform: rotateY(90deg);
}
.page-enter{
  transform: rotateY(-90deg);
}

/* 没有结果时 404 航班 */
.nothing-404{
  text-align: center;
  padding: 50px;
}

.nothing-404 .iconfont.icon-AK-LYhangbanyuding{
  font-size: 130px;
  color: #31BBAC;
}

.nothing-404 .no-info-404{
  color: #31BBAC;
  margin-top: 50px;
  font-size: 18px;
}
